body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

.header {
    background-image: url('images/futureCity.jpg');
    background-size: cover; /* 画像が全体にフィットするように */
    background-position: center; /* 画像の中央を表示 */
    background-attachment: fixed; /* スクロールしても背景が固定される */
    height: 300px; /* ヘッダーの高さを指定（適宜調整） */
    color: white; /* テキストカラーを白に設定（画像に合わせて調整） */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
}
